In [26]:
import pandas as pd
import plotly.express as px

df = pd.read_excel (r'C:\Users\yawad\Documents\names.xlsx', sheet_name='Sheet6')
#print (df)

names = list(df.iloc[:, 0])
print (names)
years = list(df.head().columns)
years.remove('Year')
print (years)

import itertools

example = pd.DataFrame(list(itertools.product(names,years)), columns=['Names','Years'])
example["Rank"] = ""
example["Gender"] = ""
l = 0

for i in (names):
    for j in (years):
        if i in ['Olivia', 'Emma', 'Charlotte', 'Amelia', 'Ava', 'Sophia', 'Isabella', 'Emily', 'Madison', 'Abigail', 
             'Hannah', 'Alexis', 'Ashley', 'Alexis', 'Ashley', 'Sarah', 'Samantha', 'Jessica', 'Amanda', 'Brittany', 
             'Jennifer', 'Melissa', 'Amy', 'Heather', 'Angela', 'Michelle', 'Kimberly', 'Lisa', 'Mary', 'Susan',
             'Karen', 'Patricia', 'Linda', 'Donna', 'Debra', 'Deborah', 'Barbara', 'Sandra', 'Carol', 'Judith', 'Betty',
             'Shirley', 'Dorothy', 'Joan', 'Helen', 'Margaret', 'Ruth']:
            gender = "Female"
        else:
            gender = "Male"
        example.at[l, 'Gender']=gender
        example.at[l, 'Rank']=df.iloc[names.index(i),years.index(j)+1]
        l+=1
print (example)
example = example.loc[example["Rank"] != 6]
example = example.sort_values(by = ['Gender', 'Years'], ascending = [True, False])
print (example)

fig = px.histogram(example, x=example.Names, y=example.Rank, animation_frame=example.Years, range_y=[0,6],
                   color="Gender")
fig.write_html("C:/Users/yawad/Documents/file.html")

['Olivia', 'Emma', 'Charlotte', 'Amelia', 'Ava', 'Liam', 'Noah', 'Oliver', 'Elijah', 'James', 'Sophia', 'William', 'Isabella', 'Logan', 'Mason', 'Jacob', 'Ethan', 'Jayden', 'Michael', 'Alexander', 'Emily', 'Joshua', 'Daniel', 'Madison', 'Matthew', 'Abigail', 'Hannah', 'Andrew', 'Alexis', 'Ashley', 'Christopher', 'Sarah', 'Samantha', 'Nicholas', 'Jessica', 'Tyler', 'Amanda', 'Brittany', 'David', 'Jennifer', 'Melissa', 'Jason', 'Amy', 'Heather', 'Angela', 'Michelle', 'Kimberly', 'Lisa', 'John', 'Robert', 'Mary', 'Susan', 'Karen', 'Patricia', 'Linda', 'Donna', 'Debra', 'Deborah', 'Barbara', 'Sandra', 'Richard', 'Carol', 'Judith', 'Betty', 'Shirley', 'Dorothy', 'Joan', 'Helen', 'Margaret', 'Charles', 'Ruth']
[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967, 1966, 1965, 1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951, 1950, 1949, 1948, 1947, 1946, 1945, 1944, 1943, 1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932, 1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922]
       Names  Years Rank  Gender
0     Olivia   2021    1  Female
1     Olivia   2020    1  Female
2     Olivia   2019    1  Female
3     Olivia   2018    2  Female
4     Olivia   2017    2  Female
...      ...    ...  ...     ...
7095    Ruth   1926    6  Female
7096    Ruth   1925    6  Female
7097    Ruth   1924    6  Female
7098    Ruth   1923    6  Female
7099    Ruth   1922    5  Female

[7100 rows x 4 columns]
          Names  Years Rank  Gender
0        Olivia   2021    1  Female
100        Emma   2021    2  Female
200   Charlotte   2021    3  Female
300      Amelia   2021    4  Female
400         Ava   2021    5  Female
...         ...    ...  ...     ...
999       James   1922    4    Male
1199    William   1922    3    Male
4899       John   1922    1    Male
4999     Robert   1922    2    Male
6999    Charles   1922    5    Male

[1000 rows x 4 columns]